body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 10000px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(44, 44, 44);
    padding: 20px;
    gap: 30%;
}

.logo{
    display: flex;
    align-items: center;
}

.logo p{
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-left: 18px;
}

.logo img{
    height: 70px;
    /* background-color: black; */
}


.menu a{
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 0 0 14px;
    /* border: rgb(0, 153, 255) 1px solid; */
    border-radius: 4px;
    font-weight: bold;
}

.menu a:hover{
    color: rgb(145, 145, 145);
    text-decoration: underline;
}

.main{
    display: flex;
    align-content: center;
    background-color: rgb(44, 44, 44);
    border-radius: 0 0 50px 50px;
    box-shadow: 0 10px 20px rgba(44, 44, 44, 0.9);
    height: 80vh;
    padding: 50px;
    color: white;
    font-size: 18px;
}
.main-left-side{
    width: 70%;
    padding: 50px;
    margin: 0 0 0 100px;
    /* background-color: red; */
}
.main-right-side{
    width: 30%;
    padding: 50px;
    margin: 0 100px 0 0;
    /* background-color: blue; */
}
.main #title{
    font-size: 42px;
    font-weight: bold;
}

.main #description{
    margin-bottom: 50px;
}
.main-left-side a{
    padding: 14px 24px;
    border: 2px solid rgb(77, 255, 246);
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.main-left-side a:hover{
    background-color: rgb(77, 255, 246);
    border: 2px solid rgb(77, 255, 246);
    color: rgb(44, 44, 44);
}

.projects{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 50px 0 0 0;
}
h2{
    margin: 0 0 50px 0;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
    text-decoration-color: rgb(44, 44, 44);
    color: rgb(44, 44, 44);
    text-align: center;
    margin-top: 100px;
}
.projects-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 0 50px 0;
}
.projects-card img{
    width: 350px;
    height: 175px;
    object-fit: cover;
    background-color: rgb(44, 44, 44);
    border-radius: 20px 20px 20px 20px;
    color: white;
    box-shadow: -10px -5px 10px rgba(0, 0, 0, 0.7);
}
.projects a{
    padding: 14px 24px;
    border: 2px solid rgb(44, 44, 44);
    color: rgb(44, 44, 44);
    text-decoration: none;
    border-radius: 4px;
}
.projects a:hover{
    background-color: rgb(44, 44, 44);
    border: 2px solid rgb(44, 44, 44);
    color: white;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin: 50px 0 0 0;
    border-radius: 50px;
}
.skills-card{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-card div{
    background-color: rgb(44, 44, 44);
    padding: 20px;
    border-radius: 8px;
}
.skills-content p{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.skills-card img{
    width: 150px;
    height: 150px;
    padding: 10px;
    object-fit: cover;
    background-color: white;
    border-radius: 8px;
}

.about-container{
    display: flex;
    align-items: center;
    background-color: rgb(44, 44, 44);
    padding: 50px;
    color: white;
    font-size: 18px;
    /* flex-direction: column; */
}
.about-left-side{
    width: 30%;
    margin: 0 0 0 100px;
    padding: 50px;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 10px;
}
.about-left-side img{
    width: 100%;
    height: auto;
}
.about-right-side{
    width: 70%;
    padding: 50px;
    margin: 0 100px 0 0px;
    text-align: end;
}
